<!DOCTYPE html>
<html>
<HEAD>  
<script language="JavaScript">
    var password;
    var pass1="balloon";
    password=prompt('What is the image at top of your invite. HINT: it starts with the letter "b" ',' ');
    if (password==pass1) { 
        if (
            (navigator.userAgent.match(/iPhone/i)) || (navigator.userAgent.match(/iPod/i))
            ) {
               location.replace("http://www.claassenswedding.com/afterParty.html");
                }
        else (window.location = "http://www.claassenswedding.com/afterParty.html")
    }
    else{ window.location = "http://www.claassenswedding.com/";}
    </script>
</HEAD>

<body>
     <!--alert('Password Correct! Click OK to enter!');-->
 {{content}}
 
</body>

</html>